<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ValidSectionSample" type="ArchPM.ApiQuery.AuthConfigSection.ApiQueryAuthSection,   
          ArchPM.ApiQuery.AuthConfigSection, Version=0.0.2.0, Culture=neutral, PublicKeyToken=null" />
    <section name="CaseInsensitiveValueSectionSample" type="ArchPM.ApiQuery.AuthConfigSection.ApiQueryAuthSection,   
          ArchPM.ApiQuery.AuthConfigSection, Version=0.0.2.0, Culture=neutral, PublicKeyToken=null" />
    
  </configSections>

  <ValidSectionSample>
    <EnvironmentInfos>
      <EnvironmentInfo Env="Dev" Application="SodexoPlus" Url="http://10.10.10.10" Port="8040" />
      <EnvironmentInfo Env="UAT" Application="SodexoPlus" Url="http://10.10.10.11" Port="8041" />
      <EnvironmentInfo Env="Prod" Application="SodexoPlus" Url="http://10.10.10.12" Port="8042" />
    </EnvironmentInfos>
    <Auths>
      <Auth Env="UAT" Application="SodexoPlus" Service="Utils" Action="*" Username="TEST_User" Password="sad123" />
    </Auths>
  </ValidSectionSample>


  <CaseInsensitiveValueSectionSample>
    <EnvironmentInfos>
      <EnvironmentInfo Env="Dev" Application="SodexoPlus" Url="http://10.10.10.10" Port="8040" />
      <EnvironmentInfo Env="uat" Application="SodexoPlus" Url="http://10.10.10.11" Port="8041" />
      <EnvironmentInfo Env="PROD" Application="SodexoPlus" Url="http://10.10.10.12" Port="8042" />
    </EnvironmentInfos>
    <Auths>
      <Auth Env="UAT" Application="SodexoPlus" Service="Utils" Action="*" Username="TEST_User" Password="sad123" />
    </Auths>
  </CaseInsensitiveValueSectionSample>


</configuration>