<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OracleConnection" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.90.34.105)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ANKAUAT)));User ID=SO_WEB_USER;Password=Sakarya123456" providerName="Oracle.DataAccess.Client" />
    <add name="OracleConnection_old" connectionString="Data Source=ANKA_UAT; User Id=SO_WEB_USER; Password=Sakarya123456;" providerName="Oracle.DataAccess.Client"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
